anyio
asttokens
backcall
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fastapi
fonttools
h11
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mysql-connector-python
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pyarrow
pydantic
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scipy
six
sniffio
stack-data
starlette
tornado
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
